<nav class="navbar navbar-expand-md navbar-light">
  <div class="container"> 
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar6">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar6">
      <img
        src="https://ecommerce.parfois.com/public/assets/img/parfois-transparent.png" width="30" height="30"
        class="d-inline-block align-top img-fluid" alt="" style="	width: 15%;">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Returns</a> </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="#">Log in</a> </li>
        <li class="nav-item"> <a class="nav-link text-primary" href="#">Register</a> </li>
      </ul>
    </div>
  </div>
</nav>

<hr>

<div class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="">
        <div class="form-group"><label>ID</label><input type="email" class="form-control" id="inputmailh"
            placeholder="EU0000000000"></div>
        <div class="form-group"><label>Number</label><input type="email" class="form-control" id="inputmailh"
            placeholder="EU0000000000"></div>
      </div>
    </div>
  </div>
</div>
<div class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="">Reason</h5>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="">
        <div class="form-group"><label>Type</label>
          <div class="btn-group ml-5" style="">
            <button class="btn btn-primary dropdown-toggle" data-toggle="modal"></button>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8" style="">
        <form id="c_form-h" class="">
          <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">Comment</label>
            <div class="col-10">
              <input type="email" class="form-control" id="inputmailh" placeholder="mail@example.com"> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="">Indication BOL</h5>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="">
        <div class="form-group"><label>Type</label>
          <div class="btn-group ml-5" style="">
            <button class="btn btn-primary dropdown-toggle" data-toggle="modal"></button>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8" style="">
        <form id="c_form-h" class="">
          <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">Comment</label>
            <div class="col-10">
              <input type="email" class="form-control" id="inputmailh" placeholder="mail@example.com"> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>